* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

/* The parent element */
body
{
    background-color: rgb(33, 30, 39);
}

#chart-container
{
    display: flex;
    position: absolute;
   
    left: 50px;
    top: 50px;
    background-color: rgb(39, 35, 47);
    box-shadow: rgba(24, 21, 31, 0.582) 20px 20px 20px -5px;
    z-index: -1;

}
#chart
{
    display: flex;
    z-index: 1;  
    position: relative;
}

.grid-line-horizontal
{
    position: absolute;
    width: 570px;
    height: 2px;
    background-color: rgb(43, 39, 52);
    z-index: -1;
    left: 0;
}

.dashed-grid-line-horizontal
{
    position: absolute;
    width: 570px;
    z-index: -1;
    left: 0;
    border-bottom: 2px dashed rgb(43, 39, 52) ;
}
.dashed-grid-line-horizontal-0
{  
    top: 38.3%;
}

.dashed-grid-line-horizontal-1
{
    top: 48.3%;
}

.grid-line-vertical
{
    position: absolute;
    height: 205px;
    width: 1px;
    
    background-color: rgb(43, 39, 52);
    z-index: -1;
    top: 0px;
}

.grid-line-h0
{
    top: 24.3%;
}
.grid-line-h1
{
    top: 63%;
}

.grid-line-v0
{
    left: 11%;
}

.grid-line-v1
{
    left: 35%;
}

.grid-line-v2
{
    left: 57%;
}

.grid-line-v3
{
    left: 81%;
}

.grid-line-v4
{
    left: 105%;
}