
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    margin: 0 auto;
    max-width: 1400px;
}

body
{
    overflow-x: hidden;
    width: 100vw;
}
#navbar-wrapper
{
    width: 100%;
    position: fixed;
}
#navbar
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}
#navbar-logo
{
    margin: 10px;
    height: 42px;
}

.nav-contact-btn
{
    padding: 15px 20px;
    text-decoration: none;
    font-family: "montserrat";
    text-transform: uppercase;
    align-self: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    //border: 2px solid rgba(255, 255, 255, 0.378);
    border-radius: 99em;
    transition: 0.3s ease;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    //background-color: rgba(119, 175, 213, 0.09);
    // position: absolute;
    // right: 50px;
    &:hover
    {
        background-color: rgba(255, 255, 255, 0.556);
        color: rgb(255, 255, 255);
    }
}

#hero-wrapper
{
    height: 1400px;

    background-position: top;
    background-size: inherit;
    background-image: linear-gradient(120deg, #cb4186, #6e4ca1 60%);
    background-repeat: no-repeat;
    background-size: cover;
}



// ------------------
//       Footer
// ------------------
.footer-wrapper
{
    padding: 30px 0px;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.footer
{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.footer-upper
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #d8dfe4;
    width: 100%;
    padding-bottom: 80px;
}

.fu-0
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 10px 0px 0px;

    >p
    {
        padding-top: 40px;
        font-family: "montserrat";
        text-transform: none;
        align-self: left;
        color: #818d97;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.45em;
        word-wrap:break-word; 
        max-width: 140ch;
    }
}

.footer-logo
{
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: auto;
   
    >svg
    {
        fill: #242a37;

        height: 40px;
        
    }

    &::after
    {
        content: "";
        width: 100px;
        height: 2px;
        background-image: linear-gradient(to right, #ff2b64a8,#e6a0364b );
        left: 0;
        bottom: -20px;
        position: absolute;
    }
}

.icon-circle
{
    background-color: #242a3700;
    border-radius: 99em;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #242a37;
    
}

.footer-icon
{
    height: 18px;
    fill: #242a37;
}
.footer-icon-bar
{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.footer-contact-left
{
    padding-top: 20px;
    font-family: "montserrat";
    text-transform: none;
    align-self: left;
    color: #242a37;
    font-size: 14px;
    font-weight: 600;
    word-wrap:break-word; 
    max-width: 40ch;

    >a
    {
        color: #242a37;
        text-decoration: underline;
    }
}
.fu-1
{
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 10px;
    //background-color: rgb(148, 148, 148);
    >span
    {
        position: relative;
        color: #242a37;
        font-family: "Pattaya";
        font-size: 34px;
        height: 40px;
        font-weight: 600;
        
        &::after
        {
            content: "";
            width: 100px;
            height: 2px;
            background-image: linear-gradient(to right, #ff2b64a8,#e6a0364b );
            left: 0;
            bottom: -20px;
            position: absolute;
        }
        
    }

    >ul
    {
        padding-top: 40px;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        >li
        {
            padding-bottom: 30px;
            display: flex;
            flex-basis: 50%;
            >a
            {
                text-decoration: none;
                
                font-family: "montserrat";
                text-transform: none;
                align-self: left;
                color: #818d97;
                font-size: 14px;
                font-weight: 500;
           
                word-wrap:break-word; 
                max-width: 140ch;
            }
        }
    }
}


.fu-2
{
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    padding: 0px 0px 0px 10px;

    >span
    {
        position: relative;
        color: #242a37;
        font-family: "Pattaya";
        font-size: 34px;
        height: 40px;
        font-weight: 600;
        
        &::after
        {
            content: "";
            width: 100px;
            height: 2px;
            background-image: linear-gradient(to right, #ff2b64a8,#e6a0364b );
            left: 0;
            bottom: -20px;
            position: absolute;
        }
    }

}

.footer-sub-msg
{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "montserrat";
    text-transform: none;
    align-self: left;
    color: #818d97;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45em;
    word-wrap:break-word; 
    width: 100%;
    max-width: 140ch;
}
.footer-email-wrapper
{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
  
    >input:-webkit-autofill,
    >input:-webkit-autofill:hover, 
    >input:-webkit-autofill:focus,
    >input:-webkit-autofill, 
    >textarea:-webkit-autofill,
    >textarea:-webkit-autofill:hover,
    >textarea:-webkit-autofill:focus,
    >select:-webkit-autofill,
    >select:-webkit-autofill:hover,
    >select:-webkit-autofill:focus {
        
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: #818d9796 !important;
    }

    >input:-webkit-autofill::first-line {font-size: 22px !important;}
}

$email-input-height: 60px;

.footer-email-input
{
    display: flex;
  
    border-style: solid;
    border-color: #372a248c;
    border-radius: 99em;
    border-width: 1px;
    height: $email-input-height;
    width: 100%;
    padding: 10px 70px 10px 20px;
    color: #818d97;
    font-size: 16px;
    font-weight: 500;
    font-family: "montserrat";
    &::placeholder
    {
        color: #818d9796;
        font-size: 16px;
        font-weight: 500;
    }
    &:focus{
        outline: none;
    }

    &:textarea{
        color: #818d9796;
        font-size: 16px;
        font-weight: 500;
    }

    
}

.footer-email-check-mark-wrapper
{
    display: flex;
    position: absolute;
    width: calc(#{$email-input-height } - (#{$email-input-height } / 5));
    height: calc(#{$email-input-height } - (#{$email-input-height } / 5));
    background-image: linear-gradient(120deg, rgb(245, 124, 144), rgb(150, 33, 179));
    border-radius: 99px;
    right: 8px;
    top: 50%;
    //align-self: center;
    transform: translateY(-50%);
    
}
.email-footer-svg-check
{
    fill: white;
    align-self: center;
    display: flex;
    text-align: center;
    width: 32px;
    height: 32px;
    margin: auto;
}
.footer-email-consent
{
    padding-top: 20px;
    font-family: "montserrat";
    text-transform: none;
    align-self: left;
    color: #818d97;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.45em;
    word-wrap:break-word; 
    max-width: 140ch;
    width: 100%;
}

.footer-lower
{
    padding: 40px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    >ul
    {
        display: flex;
        flex-direction: row;
        list-style: none;
        color: #818d97;
        font-size: 13px;
        font-weight: 500;
        font-family: "montserrat";
        >li
        {
            padding-left: 20px;
        }
    }
}

.footer-copyright
{
    color: #818d97;
    font-size: 13px;
    font-weight: 500;
    font-family: "montserrat";
}
